@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#eeeeff, #CBC7FF);
}

.chatbot-popup{
    width: 420px;
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);

}

.chat-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5350c4;
    padding: 15px 22px;
}

.chat-header .header-info{
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-info .chatbot-logo{
    height: 35px;
    width: 35px;
    padding: 6px;
    fill: #5350c4;
    background-color: white;
    border-radius: 50%;
    flex-shrink: 0;
}
.header-info .logo-text{
    color: white;
    font-size: 1.31rem;
    font-weight: 600;
}

.chat-header #close-chatbot{
    border: none;
    width: 45px;
    height: 45px;
    margin-right: -10px;
    padding: 2px;
    font-size: 1.9rem;
    color: white;
    background-color: #3d39ac;
    border-radius: 50%;

}